<dp>
	<img src="/images/dp.jpg" style="height:170px; width:170px" alt="Videsh's picture" align=left>
</dp>
<bio>
	<ul>
		<li style="font-weight:bold; font-size:20px">{{site.name}}</li>
		<li style="font-size:16px; font-weight:lighter; color:#777"><tt>{{site.alias}}</tt></li>
		<li></li>
		<li></li>
		<li>{{site.position}}</li>
		<li><a href="{{ site.affiliation_url }}">{{site.affiliation}}</li>
	</ul>
	<ul1>
		<a href="mailto:{{ site.umass_mail }}"><span class="icon">{% include envelope.svg %}</span></a>
		<a href="{{ site.github }}"><span class="icon">{% include github.svg %}</span></a>
		<a href="{{ site.linkedin }}"><span class="icon">{% include linkedin.svg %}</span></a>
		<a href="{{ site.twitter }}"><span class="icon">{% include twitter.svg %}</span></a>
	</ul1>  
</bio>







